POSTGRES_DB=techsupport
POSTGRES_USER=techsupport
POSTGRES_PASSWORD=change_me_strong_password

ASPNETCORE_ENVIRONMENT=Production
Security__UseHttpsRedirection=false

ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=techsupport;Username=techsupport;Password=change_me_strong_password
Database__Provider=Postgres

Rag__ChatProvider=Ollama
Rag__EmbeddingProvider=Ollama
Rag__OllamaBaseUrl=http://ollama:11434
Rag__QdrantBaseUrl=http://qdrant:6333
Rag__ChatModel=llama3.1
Rag__EmbeddingModel=embeddinggemma
Rag__CollectionName=techsupport_knowledge

OpenAI__ApiKey=
OpenAI__ChatModel=gpt-4.1-mini
OpenAI__EmbeddingModel=text-embedding-3-small

DeepSeek__ApiKey=
DeepSeek__ChatModel=deepseek-chat

Smtp__Host=
Smtp__Port=587
Smtp__EnableSsl=true
Smtp__From=
Smtp__UserName=
Smtp__Password=
